In [2]:
import pandas as pd

df = pd.read_csv('data/data.csv')

df[:3]

,client_id,gender,birth_date,create_date,nonresident_flag,businessman_flag,city,term,contract_sum,product_category_name,...,card_type_name,start_date,fact_close_date,purchase_sum,purchase_count,current_balance_avg_sum,current_balance_sum,current_debit_turn_sum,current_credit_turn_sum,card_type
0,fe60b594364f9f636266ed1ef4f89c32,Ж,1985,2020-01-29,R,0,Гусь-Хрустальный,NaN,0.0,Договор на текущий счет для дебетовой карты,...,Visa Platinum Rewards,2019.0,2021.0,16600.0,71,39700.0,25700.0,220600.0,201000.0,dc
1,3012cabca5885ed53d348d6e57dab5de,М,1951,2009-09-24,R,0,Ишимбай,NaN,0.0,Договор на текущий счет для дебетовой карты,...,VISA Classic,2019.0,NaN,0.0,0,1900.0,1000.0,6200.0,3000.0,dc
2,d871ef96820b6c7a1ada8e01a772724e,Ж,1982,2006-12-25,R,0,Юрга,NaN,0.0,Договор на текущий счет для дебетовой карты,...,NaN,NaN,NaN,0.0,0,0.0,0.0,0.0,0.0,dc

In [6]:
df['gender']

0         Ж
1         М
2         Ж
3         М
4         М
         ..
371578    М
371579    М
371580    М
371581    Ж
371582    Ж
Name: gender, Length: 371583, dtype: object

In [31]:
regions = pd.read_csv('data/regions.csv', sep=';')

regions_grp = regions[['settlement','oktmo']].groupby('oktmo').last()
# regions_grp.head()
regions_grp.reset_index().rename(columns={"oktmo": "id_region", "settlement": "region"}).to_json(r'data/regions.json', orient='records', force_ascii=False)